@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #24057a;
}

body {
    background-color:white;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    margin: 10px;
}

.filter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
}

.add-form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
}

#minimum-rating-select {
    border: none;
    padding: 10px;
    border: 1px black solid;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 60%;
}

.add-button {
    background-color: #24057a;
    border: none;
    color: white;
    padding: 10px;
    border: 1px #24057a;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 60%;
}

.add-button:hover {
    background-color: black;
    color: white;
}

.my-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bookmark-item {
    background-color: lightgray;
    margin-bottom: 20px;
    list-style: none;
    width: 90%;
    border: 1px solid darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmark-name, .rating {
    margin: 8px;
}

.bookmark-name {
    font-size: 40px;
}

.rating {
    font-size: 25px;
}

.bookmark-controls {
    margin-top: 8px;
    margin-bottom: 8px;
}

.expand-button, .delete-button {
    background-color:#24057a;
    border: none;
    color: white;
    text-align: center;
    border: 2px black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.expand-button:hover {
    background-color: black;
    color: white;
}

.delete-button {
    background-color:#24057a;
    border: 1px rgb(94, 94, 94) solid;
    font-weight: normal;
}

.delete-button:hover {
    background-color: black;
    color: white;
}

.description {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    align-items: center;
}

.visit-site {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 15px;
    background-color: black;
}

a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color:black;
}

.condense-button {
    background-color: #24057a;
    border: none;
    color: white;
    text-align: center;
    border: 1px black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.condense-button:hover {
    background-color:black;
    color: white;
}

#add-bookmark {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 8px;
    padding-top: 1px;
    margin-top: 10px;
    border-radius: 5px;
    background: lightgray;
}

#add-bookmark > h2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 30px;
}

.labels-inputs {
    margin-bottom: 15px;
    padding-left: 5px;
}

.form-input {
    width: 90%;
    margin-top: 3px;
    height: 30px;
    border: 1px black;
    padding-left: 3px;
    font-size: 15px;
}

#bookmark-title, #bookmark-url, #bookmark-description, #bookmark-rating {
    margin-top: 5px;
    font-size: 15px;
}

.form-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 8px;
}

.form-button {
    background-color: #24057a;
    border: none;
    color: white;
    padding: 15px 32px;
    border: 1px #24057a;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.cancel-bookmark-button {
    background-color: #24057a;
    border: 1px rgb(94, 94, 94) solid;
    font-weight: normal;
}

.form-button:hover {
    background-color: black;
    color: white;
  }

.cancel-bookmark-button:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 750px) {
    h1 {
        margin-top: 25px;
        font-size: 45px;
    }

    #bookmark-title, #bookmark-url {
        width: 80%;
    }

    #bookmark-description {
        width: 80%;
        height: 100px;
    }

    #bookmark-rating {
        margin-bottom: 20px;
    }

    .add-button, #minimum-rating-select {
        width: 500px;
    }

    #add-bookmark {
        width: 700px;
    }

    .bookmark-item {
        width: 700px;
    }

    .expand-button, .delete-button, .condense-button {
        width: 100px;
    }

    .form-buttons {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1250px) {
    h1 {
        font-size: 55px;
        margin-top: 30px;
    }

    #bookmark-title, #bookmark-url {
        width: 60%;
    }

    #bookmark-description {
        width: 60%;
        height: 140px;
    }

    #bookmark-rating {
        margin-bottom: 30px;
    }

    .add-button, #minimum-rating-select {
        width: 600px;
    }

    #add-bookmark {
        width: 900px;
    }

    .bookmark-item {
        width: 900px;
    }

    .expand-button, .delete-button, .condense-button {
        width: 120px;
    }

    .form-buttons {
        margin-bottom: 35px;
    }
}